body {
  margin: 0;
  padding: 0;
}

.app-header {
  height: 60px;
  background-color: slategrey;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%;
}

  .app-nav {
    width: 60px;
    background-color: blue;
  }

  .main-content {
    flex: 1;
    background-color: khaki;
  }
