body {
  margin: 0;
  padding: 0;
}

.app-header {
  height: 60px;
  background-color: slategrey;
  width: 100%;
}

.app-nav {
  width: 60px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

    .nav-item {
      height: 60px;
      background-color: coral;
    }
}

.main-content {
  flex: 1;
  background-color: khaki;
}
